{
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "off",
    "indent": [ "error", 2 ],
    "quotes": [ "error", "single" ],
    "semi": ["error", "always"],
    "linebreak-style": [ "error", "unix" ],
    "no-unused-vars": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "jasmine": true
  },
  "globals": {
    "document": true,
    "firebase": true,
    "React": true,
    "ReactDOM": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "impliedStrict": true,
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },
  "extends": "eslint:recommended"
}
